extends layout

block content
  .container
      .starter-template
        h1 Bootstrap starter template
        p.lead
          | Use this document as a way to quickly start any new project.
          br
         span.fa.fa-facebook
           a.btn.btn-default(href="/auth/facebook") Facebook
           &nbsp;
           a.btn.btn-default(href="/login") Login
           &nbsp;
           a.btn.btn-default(href="/signup") Signup
           &nbsp;
           a.btn.btn-default(href="/logout") Logout
