extends layout

block content
  .container
    h1 Profile Page
    p Welcome Your name
    p Id: #{user._id}
    p Email: #{user.local.email} #{user.facebook.email}
    br
    if message.length > 0
     .alert.alert-info #{message}
      &nbsp;
      a(href='/')
        button.btn.btn-default(type="button") Cancel