extends layout

block content
  .container
    h1 Signup
    p Create your account
    if message.length > 0
     .alert.alert-info #{message}
    form(role='form', action="/signup",method="post", style='max-width: 300px;')
      .form-group
        label Email: 
        input.form-control(type='text', name="email", placeholder='Enter Username')
      .form-group
        label Password: 
        input.form-control(type='password', name="password", placeholder='Password')
      button.btn.btn-default(type='submit') Submit
      &nbsp;
      a(href='/')
        button.btn.btn-default(type="button") Cancel
      p if have an account please 
        a(href='/login') Login